<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="「ORBIT(Optimized Real-time Broadcasting Information Tool)」は最適化されたリアルタイム放送情報ツールです。" name="description">
    <title>
        {% block title_wrapper %}
            {% block title %}{% endblock title %} | ORBIT 放送支援システム
        {% endblock title_wrapper %}
    </title>

    {% comment %} CSS {% endcomment %}
    <link rel="preload" href="{% static 'sfosapp/css/base.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'sfosapp/css/base.css' %}">
    {% block extra_style %}{% endblock %}

    {% comment %} Material Symbols Rounded {% endcomment %}
    <link rel="preload"
        as="style" 
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap">
    </noscript>
</head>
<body>
    <header>
        <a class="h-accent h-menu">
            <span class="material-symbols-rounded">menu</span>
        </a>
        <a class="h-title" href="{% url 'sfosapp:index' %}">
            <h1>SFOS | 体育祭管理支援システム</h1>
        </a>
        {% block header %}{% endblock header %}
        {% block mode_return_button %}
        {% endblock mode_return_button %}
    </header>
    <div class="sidebar">
        {% block sidebar %}{% endblock sidebar %}
    </div>
    <div class="wrapper">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>